.canvasjs-chart-credit{
  display: none;
}
*,::after,::before{
  box-sizing: border-box
}

/* ----------------sidenav--------------------- */
.navbar{
  background-color: rgb(18, 11, 117);

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: rgb(230, 191, 140);
   /* color: rgb(0, 0, 0); */
    background-color: rgba(5, 0, 82, 0.911);
   /* background-image: url(https://media.giphy.com/media/lDOBJkpstriNy/giphy.gif); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .zemanel{
    align-content: center;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #csaldo{
    background-color: rgba(6, 1, 63, 0.911);
  }
  .sidenav .row{
text-anchor: middle;
    position: relative;
    height: 60px;
    top:35%;
  }
  .sidenav .row:hover{
    background-color: #4139af
  }
  
  #main-container {
  

    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 50px;}
    .sidenav a {font-size: 18px;}
  }
  .cartao1{
    border: 2px solid #50a3a2;
   /* border: #818181, 5px; */
    
   /* background: #50a3a2; */
  background: -webkit-linear-gradient(top left, #fdffff38 0%, #94dbbd46 100%);
  background: -moz-linear-gradient(top left, #fdffff38 0%, #94dbbd46 100%);
  background: -o-linear-gradient(top left, #fdffff38 0%, #94dbbd46 100%);
  background: linear-gradient(to bottom right, #fdffff38 0%, #94dbbd46 100%);
   /* background: -webkit-linear-gradient(top left, #f4bd0880 0%,#98440377 100%);
    background: -moz-linear-gradient(top left#f4bd0880 0%,#98440377 100%);
    background: -o-linear-gradient(top left#f4bd0880 0%,#98440377 100%);
    background: linear-gradient(to bottom right,#f4bd0880 0%,#98440377 100%); */
    padding: 5%;
    margin-top: 5%;
    border-radius: 50px
}
/* Scale up the box */
.cartao1:hover {
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 2px 2px 2px 2px   #8dd3b6 ;
    -moz-box-shadow: 2px 2px 2px 2px  #8dd3b6 ;
    box-shadow: 2px 2px 2px 2px  #8dd3b6 ;
}

/* Fade in the pseudo-element with the bigger shadow */
.cartao1:hover::after {
  opacity: 1;
}


body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  /* background-image: url('C:/Users/filip/Documents/GitHub/frontendATM/total/pages/cenas/new-york-city-background-black-and-white.jpg'); */
  background-attachment: fixed;
  background:   url('C:/Users/filip/Documents/GitHub/frontendATM/total/pages/cenas/new-york-city-background-black-and-white-_mais_claro.jpg');
  
}
.bodya{
background-color: rgba(70, 169, 245, 0.603);
}
.chartContainer{
  height:150px;
  border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
border: 0px solid #000000;
  margin-bottom: 5%;
 /* border: 2px solid yellow; */
 /* background: rgba(25,102,255,0.36);
 background: -moz-linear-gradient(top, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(25,102,255,0.36)), color-stop(41%, rgba(25,102,255,0.45)), color-stop(58%, rgba(12,117,245,0.52)), color-stop(90%, rgba(12,117,245,0.65)));
 background: -webkit-linear-gradient(top, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 background: -o-linear-gradient(top, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 background: -ms-linear-gradient(top, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 background: linear-gradient(to bottom, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1966ff', endColorstr='#0c75f5', GradientType=0 ); */

}
.chartContainer:hover{
  background: rgba(41,184,229,0.36);
  background: -moz-linear-gradient(top, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,184,229,0.36)), color-stop(24%, rgba(41,184,229,0.37)), color-stop(47%, rgba(179,220,237,0.37)), color-stop(85%, rgba(41,184,229,0.39)), color-stop(100%, rgba(41,184,229,0.39)));
  background: -webkit-linear-gradient(top, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  background: -o-linear-gradient(top, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  background: -ms-linear-gradient(top, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  background: linear-gradient(to bottom, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#29b8e5', GradientType=0 );
  border-bottom: 1px solid  rgb(78, 115, 126);
  border-top: 1px solid  rgb(127, 192, 214);
  

  -webkit-box-shadow: 1px 4px 129px -9px rgba(0, 201, 184, 0.363);
-moz-box-shadow: 1px 4px 129px -9px rgba(0, 201, 184, 0.473);
box-shadow: 1px 4px 129px -9px rgba(0, 201, 184, 0.459);
}
/* #chartContainer{
  background-color: transparent;
 
} */

/* ------sidenav card-------------- */
.card {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:250px;
  min-height:400px;
  background:transparent;
  box-shadow:0 20px 50px rgba(0,0,0,.1);
  border-radius:10px;
  transition:0.5s;
}
.card:after{
  content: '';
   background: rgba(93,179,245,1);
  
}
.card:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
  position:fixed;
  top:10%;
  left:0;
  transform:translateY(-50%);
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  width:100%;
}
.card .box .img {
  width:90px;
  height:90px;
  margin:10PX auto;
  margin-top: 20p;
  border-radius:50%;
  overflow:hidden;
}
.card .box .img img {
  width:100%;
  height:100%;
}
.card .box h2 {
  font-size:20px;
  color:#acabab;

}
.card .box h2 span {
  font-size:14px;
  background:#e91e63;
  color:#fff;
  display:inline-block;
  padding:4px 10px;
  border-radius:15px;
}
.card .box p {
  color:#262626;
}
.card .box span {
  display:inline-flex;
}
.card .box ul {
  margin:0;
  padding:0;
}
.card .box ul li {
  list-style:none;
  float:left;
}
.card .box ul li a {
  display:block;
  color:#aaa;
  margin:0 10px;
  font-size:20px;
  transition:0.5s;
  text-align:center;
}
.card .box ul li:hover a {
  color:#e91e63;
  transform:rotateY(360deg);
}




 table.blueTable tr:nth-child(even) {
 /* background: rgba(186, 197, 199, 0.425); */
  border-bottom: 1px,  rgba(186, 197, 199, 0.425);
} 
table.blueTable tr:nth-child(odd) {
  border-bottom: 1px, rgba(235, 220, 190, 0.486);
  border-block-end: #262626
  
} 
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
 
  padding: 1%;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: left;
  background-color: rgba(60, 125, 179, 0.651);
  color: white;
}