

  .myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }

.canvasjs-chart-credit{
  display: none;
}
/* *,::after,::before{
  box-sizing: border-box
} */

/* ----------------sidenav--------------------- */
.navbar{
  background: rgba(252,252,252,1);
  /* background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,245,230,1) 47%, rgba(252,245,229,1) 50%, rgba(222,145,204,1) 99%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(47%, rgba(252,245,230,1)), color-stop(50%, rgba(252,245,229,1)), color-stop(99%, rgba(222,145,204,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,245,230,1) 47%, rgba(252,245,229,1) 50%, rgba(222,145,204,1) 99%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,245,230,1) 47%, rgba(252,245,229,1) 50%, rgba(222,145,204,1) 99%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,245,230,1) 47%, rgba(252,245,229,1) 50%, rgba(222,145,204,1) 99%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(252,245,230,1) 47%, rgba(252,245,229,1) 50%, rgba(222,145,204,1) 99%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff', GradientType=0 );
   */
   
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  
  cursor:pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: rgb(230, 191, 140);
   /* color: rgb(0, 0, 0); */
    background-color: rgba(5, 0, 82, 0.911);
   /* background-image: url(https://media.giphy.com/media/lDOBJkpstriNy/giphy.gif); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #csaldo1{
    background-color: rgba(6, 1, 63, 0.911);
  }
  .sidenav .row{
padding-top: 5%;
    position: relative;
    height: 60px;
    top:35%;
  }
  .sidenav .row:hover{
    background-color: #4139af
  }
  
  #main-container {
  

    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 50px;}
    .sidenav a {font-size: 18px;}
  }
  .cartao1{
    border: 2px solid #50a3a2;
   /* border: #818181, 5px; */
    
   /* background: #50a3a2; */
  background: -webkit-linear-gradient(top left, #fdffff38 0%, #94dbbd46 100%);
  background: -moz-linear-gradient(top left, #fdffff38 0%, #94dbbd46 100%);
  background: -o-linear-gradient(top left, #fdffff38 0%, #94dbbd46 100%);
  background: linear-gradient(to bottom right, #fdffff38 0%, #94dbbd46 100%);
   /* background: -webkit-linear-gradient(top left, #f4bd0880 0%,#98440377 100%);
    background: -moz-linear-gradient(top left#f4bd0880 0%,#98440377 100%);
    background: -o-linear-gradient(top left#f4bd0880 0%,#98440377 100%);
    background: linear-gradient(to bottom right,#f4bd0880 0%,#98440377 100%); */
    padding: 5%;
    margin-top: 5%;
    border-radius: 50px
}
/* Scale up the box */
.cartao1:hover {
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 2px 2px 2px 2px   #8dd3b6 ;
    -moz-box-shadow: 2px 2px 2px 2px  #8dd3b6 ;
    box-shadow: 2px 2px 2px 2px  #8dd3b6 ;
}

/* Fade in the pseudo-element with the bigger shadow */
.cartao1:hover::after {
  opacity: 1;
}


body {
  /* overflow:hidden; */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  /* background-image: url('C:/Users/filip/Documents/GitHub/frontendATM/total/pages/cenas/new-york-city-background-black-and-white.jpg'); */
  /* background-attachment: fixed; */
  /* background:  rgba(70, 169, 245, 0.603)  url('C:/Users/filip/Documents/GitHub/frontendATM/total/pages/cenas/new-york-city-background-black-and-white-_mais_claro.jpg'); */
  background-image: url('C:/Users/filip/Documents/GitHub/frontendATM/total/pages/cenas/new-york-city-background-black-and-white-_mais_claro.jpg');
  background-color: #6DB3F2;
}
.bodya{
background-color: rgb(255, 255, 255);
height: 100%;
width: 100%;
}
.chartContainer{
  height:150px;
  border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
border: 0px solid #000000;
  margin-bottom: 5%;
 /* border: 2px solid yellow; */
 /* background: rgba(25,102,255,0.36);
 background: -moz-linear-gradient(top, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(25,102,255,0.36)), color-stop(41%, rgba(25,102,255,0.45)), color-stop(58%, rgba(12,117,245,0.52)), color-stop(90%, rgba(12,117,245,0.65)));
 background: -webkit-linear-gradient(top, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 background: -o-linear-gradient(top, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 background: -ms-linear-gradient(top, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 background: linear-gradient(to bottom, rgba(25,102,255,0.36) 20%, rgba(25,102,255,0.45) 41%, rgba(12,117,245,0.52) 58%, rgba(12,117,245,0.65) 90%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1966ff', endColorstr='#0c75f5', GradientType=0 ); */

}
.chartContainer:hover{
  background: rgba(41,184,229,0.36);
  background: -moz-linear-gradient(top, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,184,229,0.36)), color-stop(24%, rgba(41,184,229,0.37)), color-stop(47%, rgba(179,220,237,0.37)), color-stop(85%, rgba(41,184,229,0.39)), color-stop(100%, rgba(41,184,229,0.39)));
  background: -webkit-linear-gradient(top, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  background: -o-linear-gradient(top, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  background: -ms-linear-gradient(top, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  background: linear-gradient(to bottom, rgba(41,184,229,0.36) 0%, rgba(41,184,229,0.37) 24%, rgba(179,220,237,0.37) 47%, rgba(41,184,229,0.39) 85%, rgba(41,184,229,0.39) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#29b8e5', GradientType=0 );
  border-bottom: 1px solid  rgb(78, 115, 126);
  border-top: 1px solid  rgb(127, 192, 214);
  

  -webkit-box-shadow: 1px 4px 129px -9px rgba(0, 201, 184, 0.363);
-moz-box-shadow: 1px 4px 129px -9px rgba(0, 201, 184, 0.473);
box-shadow: 1px 4px 129px -9px rgba(0, 201, 184, 0.459);
}
/* #chartContainer{
  background-color: transparent;
 
} */

/* ------sidenav card-------------- */
.card {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:250px;
  min-height:400px;
  background:transparent;
  box-shadow:0 20px 50px rgba(0,0,0,.1);
  border-radius:10px;
  transition:0.5s;
}
.card:after{
  content: '';
   background: rgba(93,179,245,1);
  
}
.card:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
  position:fixed;
  top:10%;
  left:0;
  transform:translateY(-50%);
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  width:100%;
}
.card .box .img {
  width:90px;
  height:90px;
  margin:10PX auto;
  margin-top: 20p;
  border-radius:50%;
  overflow:hidden;
}
.card .box .img img {
  width:100%;
  height:100%;
}
.card .box h2 {
  font-size:20px;
  color:#acabab;

}
.card .box h2 span {
  font-size:14px;
  background:#e91e63;
  color:#fff;
  display:inline-block;
  padding:4px 10px;
  border-radius:15px;
}
.card .box p {
  color:#262626;
}
.card .box span {
  display:inline-flex;
}
.card .box ul {
  margin:0;
  padding:0;
}
.card .box ul li {
  list-style:none;
  float:left;
}
.card .box ul li a {
  display:block;
  color:#aaa;
  margin:0 10px;
  font-size:20px;
  transition:0.5s;
  text-align:center;
}
.card .box ul li:hover a {
  color:#e91e63;
  transform:rotateY(360deg);
}




 table.blueTable tr:nth-child(even) {
 /* background: rgba(186, 197, 199, 0.425); */
  border-bottom: 1px,  rgba(186, 197, 199, 0.425);
} 
table.blueTable tr:nth-child(odd) {
  border-bottom: 1px, rgba(235, 220, 190, 0.486);
  border-block-end: #262626
  
} 
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  /* border-collapse: collapse; */
  width: 100%;

}

#customers td, #customers th {
 
  padding: 1%;
}

#customers tr:nth-child(odd){background-color: rgba(161, 161, 161, 0.384);}
#customers tr:nth-child(even){background-color: rgba(221, 221, 221, 0.541);}

#customers tbody tr:hover {background-color: #ddd;
  border-bottom: 1px solid rgb(161, 137, 0);
  border-top: 1px solid rgb(238, 219, 113);
  border-radius: 15%;}

 
#customers th {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: left;
  background-color: rgba(60, 125, 179, 0.651);
  color: white;

}
.wrapper {

  background: #50a3a2;
  /* background: -webkit-linear-gradient(top left, #f4bd0880 0%,#98440377 100%);
  background: -moz-linear-gradient(top left#f4bd0880 0%,#98440377 100%);
  background: -o-linear-gradient(top left#f4bd0880 0%,#98440377 100%);
  background: linear-gradient(to bottom right,#f4bd0880 0%,#98440377 100%); */
  background: rgba(73,155,234,0.87);
  background: -moz-linear-gradient(top, rgba(73,155,234,0.87) 0%, rgba(34,125,229,0.87) 49%, rgba(32,124,229,0.87) 51%, rgba(32,124,229,0.77) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,0.87)), color-stop(49%, rgba(34,125,229,0.87)), color-stop(51%, rgba(32,124,229,0.87)), color-stop(100%, rgba(32,124,229,0.77)));
  background: -webkit-linear-gradient(top, rgba(73,155,234,0.87) 0%, rgba(34,125,229,0.87) 49%, rgba(32,124,229,0.87) 51%, rgba(32,124,229,0.77) 100%);
  background: -o-linear-gradient(top, rgba(73,155,234,0.87) 0%, rgba(34,125,229,0.87) 49%, rgba(32,124,229,0.87) 51%, rgba(32,124,229,0.77) 100%);
  background: -ms-linear-gradient(top, rgba(73,155,234,0.87) 0%, rgba(34,125,229,0.87) 49%, rgba(32,124,229,0.87) 51%, rgba(32,124,229,0.77) 100%);
  background: linear-gradient(to bottom, rgba(73,155,234,0.87) 0%, rgba(34,125,229,0.87) 49%, rgba(32,124,229,0.87) 51%, rgba(32,124,229,0.77) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 400px;
  margin-top: -200px;
  overflow: hidden;
  opacity: 0.90;
  background-color: #57482dbf;

  
}
.wrapper.form-success .container1 h1 {
  transform: translateY(85px);
}
.container1 {
  max-width: 600px;
  margin: 0 auto;
  padding: 5% 0;
  height: 400px;
  text-align: center;
  color: white;

}
.container1 h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
  color: white;

}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: black;
}
form button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color:saddlebrown;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}

.bg-bubbles {
/* background-image: url(C:\Users\filip\Desktop\ATM_interface\v-14-512.png); */
position: absolute;
top: 0;
right: 0%;
left: 0%;

width: 100%;
height: 100%;
z-index: 1;
}
.bg-bubbles li {
color: rgba(255, 255, 255, 0.404);
font-size: 100%;
position: absolute;
list-style: none;
display: block;
width: 40px;
height: 40px;
background-color: rgba(255, 255, 255, 0);
bottom: -160px;
-webkit-animation: square 25s infinite;
animation: square 25s infinite;
-webkit-transition-timing-function: linear;
transition-timing-function: linear;
}
.bg-bubbles li:nth-child(odd) {
/* background-image: url(https://i.gifer.com/origin/9b/9be3cc63d40d8ea231322e87d6aab7ca_w200.webp); */
background-size: contain;
background-repeat: no-repeat;
-webkit-animation: square1 25s infinite;
animation: square1 25s infinite;
background-blend-mode: soft-light
}
.bg-bubbles li:nth-child(even) {
/* background-image: url(C:/Users/filip/Desktop/ATM_interface/v-14-512.png); */
-webkit-animation: square 25s infinite;
animation: square 25s infinite;
background-size: contain;
background-repeat: no-repeat;

} 
.bg-bubbles li:nth-child(1) {
left: 10%;
}
.bg-bubbles li:nth-child(2) {
left: 20%;
width: 80px;
height: 80px;
animation-delay: 2s;
animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
left: 25%;
animation-delay: 4s;
}
.bg-bubbles li:nth-child(11) {
left: 30%;
}

.bg-bubbles li:nth-child(4) {
left: 40%;
width: 60px;
height: 60px;
animation-duration: 22s;
}
.bg-bubbles li:nth-child(5) {
left: 70%;
}
.bg-bubbles li:nth-child(6) {
left: 80%;
width: 120px;
height: 120px;
animation-delay: 3s;
}
.bg-bubbles li:nth-child(7) {
left: 35%;
width: 160px;
height: 160px;
animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
left: 55%;
width: 20px;
height: 20px;
animation-delay: 15s;
animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
left: 25%;
width: 10px;
height: 10px;
animation-delay: 2s;
animation-duration: 40s;
}
.bg-bubbles li:nth-child(10) {
left: 90%;
width: 160px;
height: 160px;
animation-delay: 11s;
}
.bg-bubbles li:nth-child(12) {
left: 43%;
width: 160px;
height: 160px;
animation-delay: 5s;
}
.bg-bubbles li:nth-child(13) {
left: 33%;
width: 160px;
height: 160px;
animation-delay: 9s;
}
.bg-bubbles li:nth-child(14) {
left: 23%;
width: 160px;
height: 160px;
animation-delay: 11s;
}
.bg-bubbles li:nth-child(15) {
left: 13%;
width: 160px;
height: 160px;
animation-delay: 5s;
}
.bg-bubbles li:nth-child(16) {
left: 47%;
width: 160px;
height: 160px;
animation-delay: 13s;
}
.bg-bubbles li:nth-child(17) {
left: 73%;
width: 160px;
height: 160px;
animation-delay: 5s;
}
.bg-bubbles li:nth-child(18) {
left: 95%;
width: 160px;
height: 160px;
animation-delay: 1s;
}.bg-bubbles li:nth-child(19) {
left: 5%;
width: 160px;
height: 160px;
animation-delay: 5s;
}.bg-bubbles li:nth-child(20) {
left: 3%;
width: 160px;
height: 160px;
animation-delay: 10s;
}.bg-bubbles li:nth-child(21) {
left: 7%;
width: 160px;
height: 160px;
animation-delay: 2s;

}.bg-bubbles li:nth-child(22) {
left: 17%;
width: 160px;
height: 160px;
animation-delay: 9s;

}.bg-bubbles li:nth-child(23) {
left: 27%;
width: 160px;
height: 160px;
animation-delay: 8s;

}.bg-bubbles li:nth-child(24) {
left: 37%;
width: 160px;
height: 160px;
animation-delay: 7s;

}.bg-bubbles li:nth-child(25) {
left: 47%;
width: 160px;
height: 160px;
animation-delay: 6s;

}.bg-bubbles li:nth-child(26) {
left: 57%;
width: 160px;
height: 160px;
animation-delay: 5s;

}.bg-bubbles li:nth-child(27) {
left: 67%;
width: 160px;
height: 160px;
animation-delay: 4s;

}.bg-bubbles li:nth-child(28) {
left: 87%;
width: 160px;
height: 160px;
animation-delay: 1s;

}.bg-bubbles li:nth-child(29) {
left: 97%;
width: 160px;
height: 160px;
animation-delay: 2s;

}.bg-bubbles li:nth-child(30) {
left: 99%;
width: 160px;
height: 160px;
animation-delay: 3s;

}
@-webkit-keyframes square {
0% {
transform: translateY(0)  rotate(0deg);
}
100% {
transform: translateY(-1500px) rotate(900deg);
}
}
@keyframes square {
0% {
transform: translateY(0) rotate(0deg);
}
100% {
transform: translateY(-1500px) rotate(900deg);
}
} @-webkit-keyframes square1 {
0% {
transform: translateY(-1500px)rotate(900deg);
}
100% {
transform: translateY(0px) rotate(600deg);
}
}
@keyframes square1 {
0% {
transform: translateY(-1500px) rotate(900deg);
}
100% {
transform: translateY(0px) rotate(-360deg);
}
} 
@-webkit-keyframes square1 {
0% {
transform: translateY(-1500px)rotate(900deg);
}
100% {
transform: translateY(0px) rotate(-360deg);
}
}
input[type="number"] {
-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}
#registerButton{
margin-top: 5px;
cursor:progress;
}

.animated {

-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
0% {
 -webkit-transform: translateX(-1000px);
}
100% {
 -webkit-transform: translateX(0);
}
}

@keyframes fadeInLeft {
0% {

 transform: translateX(-1000px)  rotate(360deg);
}
100% {

 transform: translateX(0) rotate(0deg);
}
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}
/* ------------------------------------------------------- */
@-webkit-keyframes fadeInRight {
0% {
 -webkit-transform: translateX(1000px);
}
100% {
 -webkit-transform: translateX(0);
}
}

@keyframes fadeInRight {
0% {

 transform: translateX(1000px) rotate(-360deg) ;
}
100% {

 transform: translateX(0) rotate(0deg);
}
}

.fadeInRight {
-webkit-animation-name: fadeInRight;
animation-name: fadeInRight;
}
/* ------------------------------------------------------- */
@-webkit-keyframes fadeInUP {
0% {
 -webkit-transform: translateY(1000px);
}
100% {
 -webkit-transform: translateY(0);
}
}

@keyframes fadeInUP {
0% {

 transform: translateY(1000px)  rotate(360deg);
}
100% {

 transform: translateY(0)  rotate(0deg);
}
}

.fadeInUP {
-webkit-animation-name: fadeInUP;
animation-name: fadeInUP;
}

@-webkit-keyframes fadeInDown {
0% {
 -webkit-transform: translateY(-1000px);
}
100% {
 -webkit-transform: translateY(0);
}
}

@keyframes fadeInDown {
0% {
 transform: translateY(-1000px) rotate(-360deg);
}
100% {


 transform:translateY(0) rotate(0deg );
}
}

.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
}