<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />r
  <style></style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <form id="formulario">
          <div class="form-group center-block">
            <label for="inputName">Nome</label>
            <input type="text" class="form-control contact-input" id="inputName" placeholder="Nome" name="nome">
          </div>
          <div class="form-group center-block">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control contact-input" id="inputEmail" placeholder="Email" name="email">
          </div>
          <div class="form-group center-block">
            <label for="inputPin">PIN</label>
            <input type="password" class="form-control contact-input" id="inputPin" placeholder="Pin" name="pin">
          </div>
          <div class="form-group center-block">
            <label for="inputConfirmPin">Confime o PIN</label>
            <input type="password" class="form-control contact-input" id="inputConfirmPin" placeholder="Pin" name="pin">
          </div>
          <div class="form-group center-block">
            <label for="inputTelefone">Telefone</label>
            <input type="email" class="form-control contact-input" id="inputTelefone" placeholder="Email" name="email">
          </div>
          <br>
          <div class="text-center">
            <button class="btn btn-outline-info btn btn-primary btn-lg btn-block" type="submit" id="Enviar" value="Enviar">
              Enviar
            </button>
          </div>
          <span></span>
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="js/main.js"></script>

</body>

</html>