<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css\main.css" />
    <style></style>
</head>

<body>

    <div class="container">
        <h1> Alterar Dados</h1>
        <div class="container">
            <form class="form">

                <!--colocar numero como username-->
                <div id="divNome">
                    <input  id="nome" class="fadeInLeft animated pass_show" type="text" placeholder="nome">
                    <input id="nomeConfirm" class="fadeInRight animated pass_show" type="text" placeholder="Confirmar Nome">
                </div>
                <!--colocar numero como password-->
                <!-- <div id="divPass">
                    <input id="pass" class="fadeInRight animated" type="text" placeholder="Password">
                   
                </div> -->
                <button type="submit" class="fadeInDown animated" id="login-button">LOGIN</button>
                <p class="fadeInDown animated" id="registerButton">Register here</p>


            </form>
            

        </div>
      






        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

</body>

</html>